<!--<!DOCTYPE html>-->

<html>
<head>

    <!-- Title -->

    <title>
        BoehlerIO - Profile
    </title>

    <!-- Meta -->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!------- Font ------->

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!------- CSS ------->

    <link rel="stylesheet" href="assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">

    <link rel="stylesheet" href="assets/css/vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="assets/css/vendor/slick/slick.css">

    <link rel="stylesheet" href="assets/css/Css-Master.min.css">

    <script src="./assets/javascript/profiles.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<!-- Desktop -->

<body onload="startTime()">

    <!--Wrapper - Outer-->

    <div class="wrapper outer">

        <!--Sidebar-->

        <div class="sidebar sidebar-primary">
            <div class="sidebar-logo">
                <div class="logo">
                    <a class="sidebar-brand" href="/">
                        <span></span> Boehler IO
                    </a>
                </div>
            </div>
            <div class="sidebar-content">
                <div class="content-link">
                    <div class="link-item">
                        <a class="side-link primary" href="/">
                            <span class="side-for-icon">
                                <i class="fas fa-home"></i>
                            </span>
                            <span class="side-for-text">
                                Home
                            </span>
                        </a>
                    </div>
                    <div class="link-item">
                        <a class="side-link primary" href="/settings">
                            <span class="side-for-icon">
                                <i class="fas fa-cog"></i>
                            </span>
                            <span class="side-for-text">
                                Settings
                            </span>
                        </a>
                    </div>
                    <div class="link-item">
                        <a class="side-link primary active" href="/profiles">
                            <span class="side-for-icon">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="side-for-text">
                                Profiles
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sidebar-copyright">
                <div class="copyright-text">
                    <div class="desc">
                        <p>
                            © Copyright 2020
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--Overlay-->

        <div class="sidebar-overlay"></div>

        <!--Page-->

        <div class="page">

            <!--Navbar-->

            <nav class="navbar navbar-primary sticky-top">
                <div class="container">
                    <a class="nav-toggle" href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </nav>

            <!--Profile-->

            <div class="profile">

                <!--Information-->

                <div class="section information">
                    <div class="container">
                        <div class="row">
                            <div class="col-outer col-12 col-md-12 col-lg-9">
                                <div class="info-text">
                                    <div class="title">
                                        <h1>
                                            Profiles
                                        </h1>
                                    </div>
                                    <div class="desc">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-outer col-12 col-md-12 col-lg-3">
                                <div class="info-date" id="clockdate">
                                    <div class="title">
                                        <h3>
                                            Time
                                        </h3>
                                    </div>
                                    <div class="time">
                                        <div id="date"></div>
                                        <div id="clock"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Profile Form-->

                <div class="section profile-form">
                    <div class="container">
                        <div class="row">
                            <div class="col-outer col-12 col-md-12 col-lg-12">
                                <div class="form">
                                    <form>
                                        <div class="row">
                                            <div class="col-inner col-12 col-md-12 col-lg-5">
                                                <div class="form-text">
                                                    <div class="title">
                                                        <h3>
                                                            Billing Profile
                                                        </h3>
                                                    </div>
                                                    <div class="desc">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-inner col-12 col-md-12 col-lg-7">
                                                <div class="row">
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                Profile Name
                                                            </label>
                                                            <input type="text" class="form-control" id="profileName" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                First and last name
                                                            </label>
                                                            <input type="text" class="form-control" id="name" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                Email
                                                            </label>
                                                            <input type="email" class="form-control" id="email" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                Phone Number
                                                            </label>
                                                            <input type="text" class="form-control" id="phone" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                Address 1
                                                            </label>
                                                            <input type="text" class="form-control" id="address" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                Address 2
                                                            </label>
                                                            <input type="text" class="form-control" id="address2" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                Address 3
                                                            </label>
                                                            <input type="text" class="form-control" id="address3" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                Unit / Apt
                                                            </label>
                                                            <input type="text" class="form-control" id="unit" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md">
                                                        <div class="form-select select-primary">
                                                            <label>
                                                                Country
                                                            </label>
                                                            <select id="country" class="form-control">
                                                                <option value="USA">US</option>
                                                                <option value="CANADA">CA</option>
                                                                <option value="MEXICO">MX</option>
                                                                <option value="GB">UK</option>
                                                                <option value="NB">UK (N. IRELAND)</option>
                                                                <option>AT</option>
                                                                <option>BY</option>
                                                                <option>BE</option>
                                                                <option>BG</option>
                                                                <option>HR</option>
                                                                <option>CZ</option>
                                                                <option>DK</option>
                                                                <option>EE</option>
                                                                <option>FI</option>
                                                                <option>FR</option>
                                                                <option selected>DE</option>
                                                                <option>GR</option>
                                                                <option>HU</option>
                                                                <option>IS</option>
                                                                <option>IE</option>
                                                                <option>IT</option>
                                                                <option>LV</option>
                                                                <option>LT</option>
                                                                <option>LU</option>
                                                                <option>MC</option>
                                                                <option>NL</option>
                                                                <option>NO</option>
                                                                <option>PL</option>
                                                                <option>PT</option>
                                                                <option>RO</option>
                                                                <option>RU</option>
                                                                <option>SK</option>
                                                                <option>SI</option>
                                                                <option>ES</option>
                                                                <option>SE</option>
                                                                <option>CH</option>
                                                                <option>TR</option>
                                                              </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md">
                                                        <div class="form-select select-primary">
                                                            <label>
                                                                State
                                                            </label>
                                                            <select id="state" class="form-control">
                                                                <option value="AL">AL</option>
                                                                <option value="AK">AK</option>
                                                                <option value="AS">AS</option>
                                                                <option value="AZ">AZ</option>
                                                                <option value="AR">AR</option>
                                                                <option value="CA">CA</option>
                                                                <option value="CO">CO</option>
                                                                <option value="CT">CT</option>
                                                                <option value="DE">DE</option>
                                                                <option value="DC">DC</option>
                                                                <option value="FM">FM</option>
                                                                <option value="FL">FL</option>
                                                                <option value="GA">GA</option>
                                                                <option value="GU">GU</option>
                                                                <option value="HI">HI</option>
                                                                <option value="ID">ID</option>
                                                                <option value="IL">IL</option>
                                                                <option value="IN">IN</option>
                                                                <option value="IA">IA</option>
                                                                <option value="KS">KS</option>
                                                                <option value="KY">KY</option>
                                                                <option value="LA">LA</option>
                                                                <option value="ME">ME</option>
                                                                <option value="MH">MH</option>
                                                                <option value="MD">MD</option>
                                                                <option value="MA">MA</option>
                                                                <option value="MI">MI</option>
                                                                <option value="MN">MN</option>
                                                                <option value="MS">MS</option>
                                                                <option value="MO">MO</option>
                                                                <option value="MT">MT</option>
                                                                <option value="NE">NE</option>
                                                                <option value="NV">NV</option>
                                                                <option value="NH">NH</option>
                                                                <option value="NJ">NJ</option>
                                                                <option value="NM">NM</option>
                                                                <option value="NY">NY</option>
                                                                <option value="NC">NC</option>
                                                                <option value="ND">ND</option>
                                                                <option value="MP">MP</option>
                                                                <option value="OH">OH</option>
                                                                <option value="OK">OK</option>
                                                                <option value="OR">OR</option>
                                                                <option value="PW">PW</option>
                                                                <option value="PA">PA</option>
                                                                <option value="PR">PR</option>
                                                                <option value="RI">RI</option>
                                                                <option value="SC">SC</option>
                                                                <option value="SD">SD</option>
                                                                <option value="TN">TN</option>
                                                                <option value="TX">TX</option>
                                                                <option value="UT">UT</option>
                                                                <option value="VT">VT</option>
                                                                <option value="VI">VI</option>
                                                                <option value="VA">VA</option>
                                                                <option value="WA">WA</option>
                                                                <option value="WV">WV</option>
                                                                <option value="WI">WI</option>
                                                                <option value="WY">WY</option>
                                                                <option disabled>--- CANADA ---</option>
                                                                <option value="AB">AB</option>
                                                                <option value="BC">BC</option>
                                                                <option value="MB">MB</option>
                                                                <option value="NB">NB</option>
                                                                <option value="NL">NL</option>
                                                                <option value="NT">NT</option>
                                                                <option value="NS">NS</option>
                                                                <option value="NU">NU</option>
                                                                <option value="ON">ON</option>
                                                                <option value="PE">PE</option>
                                                                <option value="QC">QC</option>
                                                                <option value="SK">SK</option>
                                                                <option value="YT">YT</option>
                                                                <option disabled>--- MEXICO ---</option>
                                                                <option value="AGU">AGU</option>
                                                                <option value="BCN">BCN</option>
                                                                <option value="BCS">BCS</option>
                                                                <option value="CAM">CAM</option>
                                                                <option value="CHP">CHP</option>
                                                                <option value="CHH">CHH</option>
                                                                <option value="COA">COA</option>
                                                                <option value="COL">COL</option>
                                                                <option value="DUR">DUR</option>
                                                                <option value="GUA">GUA</option>
                                                                <option value="GRO">GRO</option>
                                                                <option value="HID">HID</option>
                                                                <option value="JAL">JAL</option>
                                                                <option value="MEX">MEX</option>
                                                                <option value="CMX">CMX</option>
                                                                <option value="MIC">MIC</option>
                                                                <option value="MOR">MOR</option>
                                                                <option value="NAY">NAY</option>
                                                                <option value="NLE">NLE</option>
                                                                <option value="OAX">OAX</option>
                                                                <option value="PUE">PUE</option>
                                                                <option value="QUE">QUE</option>
                                                                <option value="ROO">ROO</option>
                                                                <option value="SLP">SLP</option>
                                                                <option value="SIN">SIN</option>
                                                                <option value="SON">SON</option>
                                                                <option value="TAB">TAB</option>
                                                                <option value="TAM">TAM</option>
                                                                <option value="TLA">TLA</option>
                                                                <option value="VER">VER</option>
                                                                <option value="YUC">YUC</option>
                                                                <option value="ZAC">ZAC</option>
                                                              </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                City
                                                            </label>
                                                            <input type="text" class="form-control" id="city" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                ZIP
                                                            </label>
                                                            <input type="text" class="form-control" id="zip" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                Credit Card Number
                                                            </label>
                                                            <input type="text" class="form-control" id="credit_card[number]" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                CVV
                                                            </label>
                                                            <input type="text" class="form-control" id="credit_card[cvv]" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md">
                                                        <div class="form-select select-primary">
                                                            <label>
                                                                Expiration Month
                                                            </label>
                                                            <select class="form-control" id="credit_card[month]">
                                                                <option disabled selected>
                                                                    Please select
                                                                </option>
                                                                <option>
                                                                    09
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md">
                                                        <div class="form-select select-primary">
                                                            <label>
                                                                Expiration Year
                                                            </label>
                                                            <select class="form-control" id="credit_card[year]">
                                                                <option disabled selected>
                                                                    Please select
                                                                </option>
                                                                <option>
                                                                    2021
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <button type="submit" class="btn btn-block btn-form" onclick="saveProfile()">
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------- Script ------->

    <script src="assets/javascript/jquery.min.js"></script>

    <script src="assets/javascript/vendor-javascript.js"></script>
    <script src="assets/javascript/bootstrap/bootstrap.min.js"></script>
    <script src="assets/javascript/custom-javascript.js"></script>
</body>
</html>
