<!--<!DOCTYPE html>-->

<html>
<head>

    <!-- Title -->

    <title>
        BoehlerIO - Profile
    </title>

    <!-- Meta -->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!------- Font ------->

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!------- CSS ------->

    <link rel="stylesheet" href="assets/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">

    <link rel="stylesheet" href="assets/css/vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="assets/css/vendor/slick/slick.css">

    <link rel="stylesheet" href="assets/css/Css-Master.min.css">

    <script src="./assets/javascript/task.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<!-- Desktop -->

<body onload="startTime()">

    <!--Wrapper - Outer-->

    <div class="wrapper outer">

        <!--Sidebar-->

        <div class="sidebar sidebar-primary">
            <div class="sidebar-logo">
                <div class="logo">
                    <a class="sidebar-brand" href="/">
                        <span></span> Boehler IO
                    </a>
                </div>
            </div>
            <div class="sidebar-content">
                <div class="content-link">
                    <div class="link-item">
                        <a class="side-link primary" href="/">
                            <span class="side-for-icon">
                                <i class="fas fa-home"></i>
                            </span>
                            <span class="side-for-text">
                                Home
                            </span>
                        </a>
                    </div>
                    <div class="link-item">
                        <a class="side-link primary" href="/settings">
                            <span class="side-for-icon">
                                <i class="fas fa-cog"></i>
                            </span>
                            <span class="side-for-text">
                                Settings
                            </span>
                        </a>
                    </div>
                    <div class="link-item">
                        <a class="side-link primary" href="/profiles">
                            <span class="side-for-icon">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="side-for-text">
                                Profiles
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sidebar-copyright">
                <div class="copyright-text">
                    <div class="desc">
                        <p>
                            © Copyright 2020
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--Overlay-->

        <div class="sidebar-overlay"></div>

        <!--Page-->

        <div class="page">

            <!--Navbar-->

            <nav class="navbar navbar-primary sticky-top">
                <div class="container">
                    <a class="nav-toggle" href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </nav>

            <!--Profile-->

            <div class="profile">

                <!--Information-->

                <div class="section information">
                    <div class="container">
                        <div class="row">
                            <div class="col-outer col-12 col-md-12 col-lg-9">
                                <div class="info-text">
                                    <div class="title">
                                        <h1>
                                            Create task
                                        </h1>
                                    </div>
                                    <div class="desc">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-outer col-12 col-md-12 col-lg-3">
                                <div class="info-date" id="clockdate">
                                    <div class="title">
                                        <h3>
                                            Time
                                        </h3>
                                    </div>
                                    <div class="time">
                                        <div id="date"></div>
                                        <div id="clock"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Profile Form-->

                <div class="section profile-form">
                    <div class="container">
                        <div class="row">
                            <div class="col-outer col-12 col-md-12 col-lg-12">
                                <div class="form">
                                    <form>
                                        <div class="row">
                                            <div class="col-inner col-12 col-md-12 col-lg-5">
                                                <div class="form-text">
                                                    <div class="title">
                                                        <h3>
                                                            Information
                                                        </h3>
                                                    </div>
                                                    <div class="desc">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-inner col-12 col-md-12 col-lg-7">
                                                <div class="row">
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                Keywords
                                                            </label>
                                                            <input type="text" class="form-control" id="keywords"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md">
                                                        <div class="form-select select-primary">
                                                            <label>
                                                                Task mode
                                                            </label>
                                                            <select class="form-control" id="mode" disabled>
                                                                <option disabled>
                                                                    Please select
                                                                </option>
                                                                <option value="browser" selected>
                                                                    Browser
                                                                </option>
                                                                <option value="hybrid">
                                                                    Hybrid
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                Size
                                                            </label>
                                                            <input type="text" class="form-control" id="size"  />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                Color
                                                            </label>
                                                            <input type="text" class="form-control" id="color" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                Checkout Delay
                                                            </label>
                                                            <input type="number" class="form-control" id="checkoutDelay" step="100" value="2500"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                Category
                                                            </label>
                                                            <select class="form-control" id="category">
                                                                <option disabled selected>
                                                                    Please select
                                                                </option>
                                                                <option>
                                                                    Skate
                                                                </option>
                                                                <option>
                                                                    Accessories
                                                                </option>
                                                                <option>
                                                                    Bags
                                                                </option>
                                                                <option>
                                                                    Jackets
                                                                </option>
                                                                <option>
                                                                    Pants
                                                                </option>
                                                                <option>
                                                                    Sweatshirts
                                                                </option>
                                                                <option>
                                                                    Shirts
                                                                </option>
                                                                <option>
                                                                    Tops/Sweaters
                                                                </option>
                                                                <option>
                                                                    Hats
                                                                </option>
                                                                <option>
                                                                    Shoes
                                                                </option>
                                                                <option>
                                                                    T-Shirts
                                                                </option>
                                                                <option value="new">
                                                                    New
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md">
                                                        <div class="form-input input-primary">
                                                            <label>
                                                                Amount of tasks
                                                            </label>
                                                            <input type="number" class="form-control" id="taskAmount" step="1" value="1" min="1" disabled/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md">
                                                        <div class="form-select select-primary">
                                                            <label>
                                                                Profile
                                                            </label>
                                                            <select class="form-control" id="profile" disabled>
                                                                <option disabled selected value="personal">
                                                                    Personal
                                                                </option>
                                                                <option>
                                                                    DEMO
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <button type="submit" class="btn btn-block btn-form" onclick="saveTask()">
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------- Script ------->

    <script src="assets/javascript/jquery.min.js"></script>

    <script src="assets/javascript/vendor-javascript.js"></script>
    <script src="assets/javascript/bootstrap/bootstrap.min.js"></script>
    <script src="assets/javascript/custom-javascript.js"></script>
</body>
</html>
